<div class="post-container">
    <div class="creation-info">
        <p class="username-feed-post"></p>
        <p class="username-feed-day"></p>
    </div>
    <div class="post-title"></div>
    <div class="post-body-container">
        <p class="post-body"></p>
        </div>
    </div>
</div>

