<div class="comment-profile-form">
    <div class="comment-profile">
        <i class="bx bxs-user bx-sm"></i>
    </div>
    <form class="comment-form">
        <div class="comment-input">
            <input type="text" placeholder="Add a comment..." id="comment-input">
        </div>
        <div class="comment-button">
            <button>Post</button>
        </div>
    </form>
</div>
<div class="comment-posts">
    {{#each }}
    <div class="comment-card">
        <div class="comment-date">
            <p>{{format_date post.comments.date_created}}</p>
        </div>
        <div class="comment-text">
            <p>{{post.comments.comment}}</p>
        </div>
    </div>
    {{/each}}
</div>