<header>
    <nav>
      <div class="logo-with-search">
        <div class="oasis-logo">
          <a href="../html/landing.html"><h2>oasis</h2></a>
        </div>
        <div class="search-bar" id="search-container">
          <input type="search" id="nav-search" placeholder="Search...">
        </div>
      </div>
      <div class="nav-with-button">
        <div class="right-navigation" id="right-navigation">
          <i class='bx bx-sidebar bx-sm' title="Feed"></i>
          <i class='bx bxs-user bx-sm' title="Profile"></i>
        </div>
        <div class="right-button">
          <a href="../html/login.html"><button>Log In</button></a>
        </div>
      </div>
    </nav>
  </header>