<div>
    <nav>
        <h2><a href="/">Oasis</a></h2>
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/Feed">Feed</a></li>
            <li><a href="/Profile">Profile</a></li>
            <li><a id="logout" href="/">Logout</a></li>
        </ul>
    </nav>
</div>
<script src="./js/logout.js"></script>