<div class="not-logged-container">
    <div class="not-logged-content">
        <p>You must be logged in to view your profile.</p>
        <a href="/login"><button id="not-logged">LOG IN</button></a>
    </div>
</div>