<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/feed-profile.css">
    <link rel="stylesheet" href="/css/signup-signin.css">
    <link rel="stylesheet" href="/css/create-edit-post.css">
    <link rel="stylesheet" href="/css/landing.css">
    
    <title>Oasis</title>
</head>
<body>
    {{> navbar}}
    <main>
        {{{body}}}
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>
</html>