<div class="post-container">
    <div class="creation-info">
        <p class="username-feed-post"></p>
        <p class="username-feed-day"></p>
    </div>
    <div class="post-title"></div>
    <div class="post-body-container">
        <p class="post-body"></p>
        </div>
    <div class="post-reactions">
        <div class="reaction-counts">
        <p class="comments-count"> comments</p>
        <p class="likes-count"> people liked this</p>
        </div>
        <div class="edit">
            <a href="#"><i class='bx bxs-pencil'></i></a>
        </div>
        <div class="destroy">   
            <a href="#"><i class='bx bxs-trash'></i></a>
        </div>
    </div>
</div>