<section>
    <div class="landing-container">
        <div class="landing-content landing-content1">
            <div class="landing-image">
                <img src="/images/grey-crowned-crane-also-known-as-african-crowned-crane.jpg" class="about-image" alt="about us image">
            </div>
            <div class="landing-text landing-text1">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor delectus voluptates vel eum, dolorem provident similique eveniet quisquam dignissimos deleniti nihil minus esse tenetur minima!</p>
            </div>
        </div>
        <div class="block"></div>
        <div class="landing-content landing-content2">
            <div class="landing-image">
                <img src="/images/closeup-shot-colorful-loriini-blurred-background.jpg" class="what-we-offer-image" alt="what we offer image">
            </div>
            <div class="landing-text landing-text2">
                <h2>What we offer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quas aliquid eveniet dolorem ratione voluptatem praesentium. Minus et similique repellendus.</p>
            </div>
        </div>
        <div class="block"></div>
        <div class="landing-content landing-content3">
            <div class="landing-image">
                <img src="/images/multi-colored-lizard-perching-leafs-generative-ai.jpg" class="get-started-image" alt="get started image">
            </div>
            <div class="landing-text landing-text3">
                <h2>Get Started</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam reprehenderit blanditiis asperiores minus eveniet, distinctio aliquam unde commodi! Ullam debitis labore harum modi tempora sapiente.</p>
                <div class="landing-button">
                    <a href="/signup"><button>SIGN UP</button></a>
                </div>
                
            </div>
        </div>
        <div class="block"></div>
    </div>
</section>

