<section>
    <div class="landing-container">
        <div class="landing-content landing-content1">
            <div class="landing-image"></div>
            <div class="landing-image"></div>
        </div>
    </div>
</section>