<article data-index="0" data-status="active">
    <div class="article-image-section article-section"></div>
    <div class="article-description-section article-section">
        <p>
            <a class="image-portrait-section"></a>
            <li>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
                    nostrum nihil corrupti alias dignissimos ex aliquam dolore sunt
                    repudiandae magni? Fuga similique amet aut maxime ullam,
                    mollitia reiciendis maiores commodi.
                </p>
            </li>
        </p>
    </div>
    <div class="article-title-section article-section">
        <h2 id="about">About</h2>
    </div>
    <div class="article-nav-section article-section">
        <button class="article-nav-button" type="button" onclick="handleLeftClick()">
            <a href="#"><i class="bx bx-chevron-left"></i></a>
        </button>
        <button class="article-nav-button" type="button" onclick="handleRightClick()">
            <a href="#"><i class="bx bx-chevron-right"></i></a>
        </button>
    </div>
</article>
<article data-index="1" data-status="inactive">
    <div class="article-image-section article-section"></div>
    <div class="article-description-section article-section">
        <p>
            <a class="image-portrait-section"></a>
            <li>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
                    nostrum nihil corrupti alias dignissimos ex aliquam dolore sunt
                    repudiandae magni? Fuga similique amet aut maxime ullam,
                    mollitia reiciendis maiores commodi.
                </p>
            </li>
        </p>
    </div>
    <div class="article-title-section article-section">
        <h2 id="about">What we offer</h2>
    </div>
    <div class="article-nav-section article-section">
        <button class="article-nav-button" type="button" onclick="handleLeftClick()">
            <a href="#"><i class="bx bx-chevron-left"></i></a>
        </button>
        <button class="article-nav-button" type="button" onclick="handleRightClick()">
            <a href="#"><i class="bx bx-chevron-right"></i></a>
        </button>
    </div>
</article>
<article data-index="2" data-status="inactive">
    <div class="article-image-section article-section">

    </div>
    <div class="article-description-section article-section">
        <p>
            <a class="image-portrait-section"></a>
            <li>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
                    nostrum nihil corrupti alias dignissimos ex aliquam dolore sunt
                    repudiandae magni? Fuga similique amet aut maxime ullam,
                    mollitia reiciendis maiores commodi.
                </p>
            </li>
        </p>
    </div>
    <div class="article-title-section article-section">
        <h2 id="about">Get Started</h2>
    </div>
    <div class="article-nav-section article-section">
        <button class="article-nav-button" type="button" onclick="handleLeftClick()">
            <a href="#"><i class="bx bx-chevron-left"></i></a>
        </button>
        <button class="article-nav-button" type="button" onclick="handleRightClick()">
            <a href="#"><i class="bx bx-chevron-right"></i></a>
        </button>
    </div>
</article>
