<section>
  <div class="login" id="login">
      <div class="login-card">
          <div class="login-text">
              <h2>Sign In</h2>
          </div>
          <form class="form login-form">
              <div class="form-group">
                  <input class="form-input" type="email" id="email-login" placeholder="Email"/>
                  <input class="form-input" type="password" id="password-login" placeholder="Password"/>
              </div>
              <div class="form-button">
                  <button id="login-button" type="submit">log in</button>
              </div>
          </form>
          <div class="signup-redirect">
              <p>New user? <a href="../html/signup.html"><span>Switch to Sign Up!</span></a></p>
          </div>
      </div>
  </div> 
</section>
