<section>
{{!-- <div class="page-cover" id="edit-page-cover"></div> --}}
<!-- EDIT POST MODAL -->
<div class="edit-post" id="edit-post-pop">
    <div class="edit-card">
        <div class="close-button">
            <a><i class='bx bx-x-circle bx-sm'></i></a>
        </div>
        <form class="edit-form">
            <div class="edit-text">
                <input type="text" id="edit-title" value="Hummingbirds are becoming extinct">
                <textarea rows="7" id="edit-post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, in nam. Iure tenetur consequatur veritatis repudiandae at ratione incidunt ullam? Cum accusantium odio fuga rerum aliquam veniam quia facilis exercitationem. Expedita consectetur esse enim reprehenderit.</textarea>
            </div>
            <div class="edit-button">
                <button type="submit">update post</button>
            </div>
        </form>
    </div>
</div>
</section>