<div class="form-container">
    <form class="new-post-form">
        <input type="text" id="title-form" placeholder="Title"/>
        <textarea type="text" class="text-area" id="text-form" placeholder="Add Post Content">
        </textarea>
        <button class="create" ><a href="#"><i class='bx bxs-pencil'></i></a></i></a></button>
        <button class="create" ><a href="#"><i class='bx bxs-trash'></i></a></button>
    </form>
</div>