<section>
  <div class="signup">
    <div class="signup-card">
        <div class="signup-text">
            <h2>Sign Up</h2>
        </div>
        <form class="form signup-form">
            <div class="form-group">
                <input class="form-input" type="text" id="email-login" placeholder="Username"/>
                <input class="form-input" type="email" id="email-login" placeholder="Email"/>
                <input class="form-input" type="password" id="password-login" placeholder="Password"/>
                <input class="form-input" type="password" id="confirm-password" placeholder="Confirm password"/>
            </div>
            <div class="form-button">
                <button id="signup-button" type="submit">create account</button>
            </div>
        </form>
        <div class="login-redirect">
            <p>Already have an account?</p>
            <a href="../html/login.html"><p>Switch to Log In!</p></a>
        </div>
    </div>
  </div> 
</section>