.feed-container, .profile-container {
    width: 100vw;
    min-height: calc(100vh - 77px);
    padding: 6em 0;
    color: white;
    background-color: var(--feed-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-content {
    width: 60%;
    display: flex;
    gap: 4em;
}

.feed-content {
    width: 35%;
}

.post-container  {
    flex-basis: 65%;
}

.profile-side-container {
    flex-basis: 35%;
}

.profile-content {
    flex-direction: row-reverse;
}


/* --------BLOG BANNER POST --------- */

.post-banner {
    width: 100%;
    background-color: var(--blog-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}

.post-banner a {
    width: 100%;
    display: flex;
    justify-content: right;
}

.feed-banner a {
    width: 85%;
}

.feed-banner .on-your-mind {
    width: 100%;
}

.banner-new {
    width: 90%;
}

.banner-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b4b4b;
    border: 1px solid var(--background-color);
}

.on-your-mind {
    background-color: aliceblue;
    color: #173838a7;
    width: 85%;
    padding: 15px 25px;
    border-radius: 40px;
}

/* --------BLOG CARD--------- */

.blog-card {
    margin-top: 5em;
    background-color: var(--blog-color);
    border-radius: 30px;
}

.other-users {
    margin-top: 0;
    margin-bottom: 5em;
}

.creation-info a {
    color: white;
}

.top-blog-section, .middle-blog-section, .bottom-blog-section {
    padding: 20px 30px;
}

.bottom-blog-section {
    padding: 10px 30px;
}

.middle-blog-section {
    margin-bottom: 30px;
}

.blog-border {
    width: 100%;
    height: 1px;
    background-color: var(--background-color);
    opacity: .3;
}

.blog-user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creation-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(178, 178, 178);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--background-color);
}

.post-title {
    margin-top: 30px;
}

.post-title h2 {
    text-transform: capitalize;
    line-height: 45px;
    font-weight: 400;
}

.post-body {
    line-height: 22px;
}

.creation-info {
    text-align: right;
}

.username-feed-day {
    font-size: 12px !important;
    opacity: .7 !important;
    margin-top: 3px !important;
}

.reaction-counts p {
    font-weight: 400;
}

.post-reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.post-reactions i {
    margin-left: 5px;
    cursor: pointer;
}

.post-reactions a {
    color: white;
}

/* ---------LATEST BLOGS SECTION---------- */

.latest-blog, .side-card {
    background-color: var(--small-container-color);
    width: 100%;
    padding: 20px;
    color: var(--feed-background-color);
}

.latest-top {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.latest-line {
    background-color: var(--feed-background-color);
    width: 30px;
    height: 1px;
    opacity: .5;
    margin-right: 3px;
}

.latest-top h4 {
    font-weight: 400;
    font-size: 15px;
}

.latest-slot {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    transition: all .4s ease;
    cursor: pointer;
}

.latest-slot:hover {
    background-color: #316e6e2e;
}

.latest-slot p {
    font-size: 13px;
}

.latest-slot h6 {
    text-transform: capitalize;
}

.latest-profile {
    background-color: aliceblue;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* ----------LEFT SIDE PROFILE----------- */

.side-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5em 0;
}

.side-top {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.side-top i {
    font-size: 5em;
}

.side-username p:last-child {
    font-size: 13px;
    opacity: .8;
    margin-top: 5px;
}

/* ----------NOT LOGGED IN---------- */
.not-logged-container {
    width: 100vw;
    height: calc(100vh - 77px);
    background-color: var(--feed-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-logged-content {
    width: 20%;
    background-color: aliceblue;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}

.not-logged-content p {
    color: var(--blog-color);
}

#not-logged {
    margin-top: 20px;
    background-color: var(--highlight-color);
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .feed-content {
        width: 85%;
    }

    .profile-content {
        width: 85%;
    }

    .post-container  {
        flex-basis: 100%;
    }
    
    .profile-side-container {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .feed-content {
        width: 65%;
    }

    .profile-content {
        width: 85%;
        gap: 2em;
    }

    .post-container  {
        flex-basis: 65%;
    }
    
    .profile-side-container {
        flex-basis: 35%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1300px)  {
    .feed-content {
        width: 45%;
    }

    .profile-content {
        width: 75%;
        gap: 2em;
    }

    .post-container  {
        flex-basis: 65%;
    }
    
    .profile-side-container {
        flex-basis: 35%;
    }
}