.landing-container {
    width: 100vw;
}

.landing-content {
    height: 80vh;
    display: flex;
    align-items: flex-end;
}

.landing-image {
    flex-basis: 60%;
    height: 100%;
    object-fit: cover;
}

.landing-image img {
    width: 100%;
    height: 100%;
}

.landing-text {
    flex-basis: 40%;
    padding: 50px;
    overflow: hidden;
}

/* .landing-text1 h2, .landing-text2 h2, .landing-text3 h2  {
    opacity: 0;
}

.landing-text1 p, .landing-text2 p, .landing-text3 p {
    transform: translateY(200px);
} */

.landing-content2 {
    flex-direction: row-reverse;
}

.block {
    height: 6.3em;
    width: 100%;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.landing-text h2 {
    text-transform: uppercase;
    font-size: 4.5em;
    line-height: .8em;
    margin-bottom: 30px;
    letter-spacing: -6px;
}
/* 
.landing-text {
    text-align: center;
} */

.landing-text3 {
    text-align: center;
}

.landing-button {
    margin-top: 30px;
    text-align: center;
}

.landing-button button {
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: var(--highlight-color);
}

@media screen and (max-width: 767px) {    
    .landing-content {
        flex-direction: column;
        height: auto;
    }
    
    .landing-image {
        flex-basis: 100%;
    }
    
    .landing-text {
        flex-basis: 100%;
    }
    
    .landing-content2 {
        flex-direction: column;
    }
    
    .landing-text h2 {
        font-size: 2.5em;
        line-height: .5em;
        letter-spacing: -2px;
    }
    .landing-text {
        text-align: center;
    }

    .landing-text p {
        font-size: 14.5px;
        margin: 0 auto;
        width: 80%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {    
    .landing-content {
        flex-direction: column;
        height: auto;
    }
    
    .landing-image {
        flex-basis: 100%;
    }
    
    .landing-text {
        flex-basis: 100%;
    }
    
    .landing-content2 {
        flex-direction: column;
    }
    
    .landing-text h2 {
        font-size: 3em;
        line-height: .6em;
        letter-spacing: -2px;
    }
    .landing-text {
        text-align: center;
    }

    .landing-text p {
        font-size: 16px;
        margin: 0 auto;
        width: 70%;
    }
    
}