.login, .signup {
    width: 100vw;
    height: calc(100vh - 78px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--feed-background-color);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-card, .signup-card {
    width: 35%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .10);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8em 0;
    border-radius: 30px;
}

.signup-card {
    padding: 6em 0;
}

.login-text h2, .signup-text h2 {
    color: var(--background-color);
}

.login-form, .signup-form {
    text-align: center;
    width: 70%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.signup-form .form-group {
    gap: 20px;
}

.form-group input {
    padding: 8px 20px;
    outline: none;
    border: none;
    border-radius: 50px;
}

.form-group input::placeholder {
    opacity: .7;
}
.form-group input::-moz-placeholder {
    opacity: .7;
}

.form-button, .login-form, .signup-form {
    margin-top: 3em;
}

.form-button button {
    background-color: var(--highlight-color);
    border-radius: 10px;
    text-transform: uppercase;
    padding: 15px 70px;
    color: var(--background-color);
}

#signup-button {
    padding: 15px 50px;
}

.login-redirect, .signup-redirect {
    color: var(--background-color);
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

.login-redirect a, .signup-redirect a {
    color: var(--background-color);
    opacity: .7;
}

.warning-text {
    font-size: 14px;
    background-color: rgba(240, 248, 255, 0.6);
    padding: 3px 10px;
    border-radius: 15px;
    margin-top: 5px;
    display: none;
}

.warning-text p {
    color: rgb(230, 26, 26);
}

@media screen and (max-width: 767px) {
    .login-card, .signup-card {
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .login-card, .signup-card {
        width: 55%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1300px)  {
    .login-card, .signup-card {
        width: 45%;
    }
}